# Basic simple programs

In [1]:
a = 10
b = 20
mul = a*b
print(mul)

200

In [2]:
a = 10
b = 20
mul = a*b
print('the product of two numbers a and b is:',mul,a)

the product of two numbers a and b is: 200 10

In [3]:
a = 10
b = 20
mul = a*b
print('the product of two numbers a and b is:',mul,a,sep = '_' )

the product of two numbers a and b is:_200_10

In [4]:
a = 10
b = 20
c = 50
print(a,b,c)

10 20 50

In [5]:
a = 10
b = 20
c = 50
print(a)
print(b)
print(c)

10
20
50

In [6]:
a = 10
b = 20
c = 50
print(a)
print(b,end = ' ')
print(c,end = '\n')
print(10,end ='\t')
print(5)

10
20 50
10	5

In [7]:
print(10)

10

In [8]:
a = 5
b = 10
print(a,end='\n')
print(b)

5
10

In [9]:
print('hi','fbs','sum',sep = '\n')

hi
fbs
sum

In [11]:
num1 = 5
print(type(num1))
num2 = input('please enter second number\n')

print(type(num2))
print(num1+int(num2))

<class 'int'>
please enter second number
1
<class 'str'>
6

In [15]:
num1 = int(input('enter first number'))
num2 = int(input('enter second number'))
print(num1+num2)

enter first number1
enter second number2
3

In [13]:
a = 567
b= 6
c= 7
print(a,b,c,sep = '')

56767

In [38]:
a = input()
print(a)

12345
12345

In [39]:
a = 5

In [40]:
print(a)

5

In [41]:
a = 80
b = 80
c = 80
print(a)
print(b)
print(c)

80
80
80

In [129]:
a = b = c = 80

In [136]:
print(a,b,c,end = ' ')
print(b)

80 80 80 80

In [45]:
print(b)

80

In [46]:
a = 80
b = 20
c = 30
print(a)

80

In [47]:
print(b)

20

In [48]:
print(c)

30

In [51]:
a,b,c = 80,20
print(a)

ValueError: not enough values to unpack (expected 3, got 2)

In [50]:
print(b)

20

# decision control structure

In [59]:
a = 5
if a > 4:
    print('yes')
else:
    print('NO')

yes

In [60]:
a  = 33
if a > 34:
    print('greater than 34')
elif a < 34:
    print('less than 34')
else:
    print('none')

less than 34

# loop

In [61]:
print('fbs')
print('fbs')

fbs
fbs

In [113]:
for i in 'ABCDEFGHI':
    if i == 'C':
        print('C is present')
    else:
        print(i,'not present')

A not present
B not present
C is present
D not present
E not present
F not present
G not present
H not present
I not present

In [68]:
a = 'hello fbs'
print(a[8])

s

In [67]:
for x in 'hello fbs':
    print(x)

h
e
l
l
o

f
b
s

# range()

In [70]:
a = range(6)
type(a)

range

In [71]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [82]:
for i in range(0,16):
    print(i,end = ' ')

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15

In [77]:
for i in range(1,101,2):
    print(i,end = ' ')

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [86]:
for i in range(1,17):
    print(i,'fbs',sep = ":",end = ' ')

1:fbs 2:fbs 3:fbs 4:fbs 5:fbs 6:fbs 7:fbs 8:fbs 9:fbs 10:fbs 11:fbs 12:fbs 13:fbs 14:fbs 15:fbs 16:fbs

In [115]:
for i in range(1,11):
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [ ]:
1,2,3,4,5,6,7,8,9,10

In [123]:
for i in 'sabdfyh':
    print('sumit')

sumit
sumit
sumit
sumit
sumit
sumit
sumit

In [92]:
for i in range(1,11,2):
    print('hello')

hello
hello
hello
hello
hello

In [99]:
for i in range(3,6):
    print(i)

3
4
5

In [102]:
for i in range(10,50,2):
    print(i,end = ' ')

10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48

In [108]:
for i in range(1,15):
    print(i,end = ' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14

In [107]:
for i in range(1,15,3):
    print(i,end = ' ')

1 4 7 10 13

In [109]:
for i in range(0):
    print(i)

In [114]:
l = ['sumit','kumar','sah']
for i in l:
    print(i)

sumit
kumar
sah

In [125]:
a = 'sumit'
print(a[1])

u

In [126]:
l = ['sumit','kumar','sah']

In [127]:
l[0]

'sumit'

In [128]:
l[1]

'kumar'